html body {
  background-image: url();
  margin-left: 9px;
  font-family: 'Kanit', sans-serif;
  width: 98.5%; }

section h1 {
  font-size: 32px;
  font-weight: bold; }

#main-navbar {
  font-size: 16px;
  background: #F9F3B4; }

.main-image img {
  width: 100%;
  height: 100%;
  margin: 0; }

#about {
  background: #F5F6F7;
  text-align: center; }
  #about h1 {
    text-align: center;
    padding: 10px; }
  #about p {
    padding: 0px 35px;
    line-height: 1.5em;
    word-wrap: break-word; }

#about-grid .page-header {
  text-align: center;
  padding: 20px;
  font-weight: bold; }

#about-grid img {
  width: 75%;
  height: 50%; }

#about-grid p {
  width: 100%;
  line-height: 2em;
  text-align: center; }

.services-content {
  text-align: center; }
  .services-content h4 {
    padding: 8px 0px;
    font-size: 24px;
    background: #F5F6F7;
    margin: 0; }
  .services-content p {
    font-size: 16px;
    background: #F5F6F7; }

#portfolio {
  background: #A2606C;
  display: block;
  position: relative;
  padding-bottom: 30px;
  margin: 0; }
  #portfolio h1 {
    font-size: 32px;
    color: white;
    padding-top: 25px; }
  #portfolio p {
    font-size: 16px;
    color: white; }
  #portfolio .all-portfolios {
    width: 100%;
    position: relative;
    text-align: center;
    padding-bottom: 20px; }
  #portfolio .portfolio1 {
    float: left;
    display: block;
    margin: 5px 0px;
    padding: 0px; }
    #portfolio .portfolio1 h4, #portfolio .portfolio1 p {
      color: white;
      font-weight: bold; }
    #portfolio .portfolio1 img {
      -webkit-filter: opacity(0.3);
      -webkit-box-shadow: black 5px 5px;
      box-shadow: black 5px 5px; }
  #portfolio .portfolio2 {
    float: left;
    display: block;
    margin: 5px 0px;
    padding: 0px; }
    #portfolio .portfolio2 h4, #portfolio .portfolio2 p {
      color: white;
      font-weight: bold; }
    #portfolio .portfolio2 img {
      -webkit-filter: opacity(0.3);
      -webkit-box-shadow: black 5px 5px;
      box-shadow: black 5px 5px; }
  #portfolio .portfolio3 {
    float: left;
    display: block;
    margin: 5px 0px;
    padding: 0px; }
    #portfolio .portfolio3 h4, #portfolio .portfolio3 p {
      color: white;
      font-weight: bold; }
    #portfolio .portfolio3 img {
      -webkit-filter: opacity(0.3);
      -webkit-box-shadow: black 5px 5px;
      box-shadow: black 5px 5px; }
  #portfolio .portfolio4 {
    float: right;
    display: block;
    margin: 5px 0px;
    padding: 0px; }
    #portfolio .portfolio4 h4, #portfolio .portfolio4 p {
      color: white;
      font-weight: bold; }
    #portfolio .portfolio4 img {
      -webkit-filter: opacity(0.3);
      -webkit-box-shadow: black 5px 5px;
      box-shadow: black 5px 5px; }
  #portfolio .portfolio5 {
    float: left;
    display: block;
    margin: 5px 0px;
    padding: 0px; }
    #portfolio .portfolio5 h4, #portfolio .portfolio5 p {
      color: white;
      font-weight: bold; }
    #portfolio .portfolio5 img {
      -webkit-filter: opacity(0.3);
      -webkit-box-shadow: black 5px 5px;
      box-shadow: black 5px 5px; }
  #portfolio .portfolio6 {
    float: right;
    display: block;
    margin: 5px 0px;
    padding: 0px; }
    #portfolio .portfolio6 h4, #portfolio .portfolio6 p {
      color: white;
      font-weight: bold; }
    #portfolio .portfolio6 img {
      -webkit-filter: opacity(0.3);
      -webkit-box-shadow: black 5px 5px;
      box-shadow: black 5px 5px; }

.contact-form {
  background: #787272;
  color: white; }

h1 {
  font-size: 32px;
  padding: 25px 0px;
  text-align: center;
  font-weight: bold; }

.text-input-area {
  padding: 0px 5px 10px 5px; }

textarea {
  height: 250px;
  width: 100%; }

button {
  margin: 17px 5px; }

.info-area {
  text-align: center; }
  .info-area P {
    padding: 0;
    margin: 0; }

.map-responsive {
  overflow: hidden; }

.map-responsive iframe {
  width: 100%; }

@media only screen and (min-width: 320px) {
  height: 100%;
  width: 100%; }
